body.projects-page{
    &::after{
        display: none;
    }

    [data-mobile-nav="false"]{
        .mobile-circuit{
            display: none;
        }
    }

    .directions{
        display: flex;
        flex-direction: column;
        gap:10px;
        position: absolute;
        top: 10px;
        right: -30px;

        >div{
            width: 34px;
            height: 42px;
            padding: 5px;
            opacity: 0.2;
            transition: background 0.1s ease-out;
            cursor: pointer;

            object{
                width: 100%;
                pointer-events: none
            };

            &:hover{
                opacity: 1;
            }
        }
        .next{
            transform: rotate(180deg);
        }
    }

   .projects-container{
    height: 263px;
    width: 313.24px;

    .projects-list{
        height: 100%;
        width: 100%;
    }

        .project-card{
            cursor: pointer;
            top: 0;
            height: 210px;
            width: 230.24px;
            background:$secondaryBlue;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            place-content: center;
            color: $white;
            text-transform: uppercase;
            position: absolute;

            .card-circuit{
                position: absolute;
                height: 51.8px;
                width: 61.14px;

                object{
                    height: 100%;
                    width: 100%;
                }

                &.top-right{
                    top:0;
                    left:0;
                    transform: rotate(180deg);
                }

                &.bottom-left {
                    bottom: 0;
                    right: 0;
                }
            }

            &.second{
                top:-20px;
                left: 20px;
                opacity: 0.8;
                z-index: -1;
            }

            &.last{
                top:-40px;
                left: 40px;
                opacity: 0.6;
                z-index: -2;
            }

            &.second , &.last{
                border: none;
                object{
                    display: none;
                }
            }

            &.moveback{
                animation: moveback 0.8s forwards;
            }
            
            &.shiftup{
                animation: shiftup 0.8s forwards;
            }
            
            &.lastshiftup{
                animation: lastshiftup 0.8s forwards;
            }
        }
   }
}


@keyframes lastshiftup{

    0%{
        opacity: 1;
        top:-40px;
        left: 40px;
    }

    25%{
        top:-35px;
        left: 35x;
    }

    50%{
        top:-25px;
        left: 25x;
    }

    100%{
        top:-20px;
        left: 20px;
    }
}


@keyframes shiftup{
    0%{
        opacity: 1;
        top:-20px;
        left: 20px;
    }

    25%{
        top:-15px;
        left: 15px;
    }

    50%{
        top:-10px;
        left: 10px;
    }

    100%{
        top: 0px;
        left: 0px;
    }
}

@keyframes moveback{
    0%{
        left: 0;
    }

    25%{
        top:0px;
        left: -40px;
    }

    50%{
        left: -40px;
        top: -40px;
    }

    100%{
        top:-40px;
        left: 40px;
    } 
}