body.projects-page{
    [data-mobile-nav="false"]{
        .mobile-circuit{
            display: none;
        }
    }

    &::after{
        content:'';
        position: absolute;
        top:0;
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background:linear-gradient(
            rgba(14,14,20,0.90), 
            rgba(14,14,20,0.90)
          ), url('https://images.unsplash.com/photo-1612338526108-69e35af8980d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80');
        left: 0;
        z-index: -10;
    }

    .directions{
        display: none;
    }

    main{
        height: calc(100% - 50px);
    }

   .projects-container{
    height: 263px;
    width: 313.24px;
    position: relative;

    .projects-list{
        gap:10px;
        width: 100%;
    }

    .project-card{
        cursor: pointer;
        top: 0;
        height: 310px;
        width: 330.24px;
        background:$secondaryBlue;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        color: $white;
        text-transform: uppercase;
        position: absolute;

        .card-circuit{
            position: absolute;
            height: 81.8px;
            width: 91.14px;

            object{
                height: 100%;
                width: 100%;
            }

            &.top-right{
                top:0;
                left:0;
                transform: rotate(180deg);
            }

            &.bottom-left {
                bottom: 0;
                right: 0;
            }
        }

        .card-name{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            >div{
                background: $primaryBlue;
                padding: 5px 30px;
                display: flex;
                place-content: center;
                flex-wrap: wrap;
                border-radius: 50px;
                font-size: 16px;
            }
        }
        
        @media only screen and (min-width:1025px) {

            &:first-child{
                z-index: 1;
            }

            &:nth-last-child(2){
                top:-20px;
                left: 20px;
                opacity: 0.8;
                z-index: -1;
            }

            &:nth-last-child(1){
                top:-40px;
                left: 40px;
                opacity: 0.6;
                z-index: -2;
            }

            &:not(:first-child){
                border: none;
                object{
                    display: none;
                }
            }

            &.moveback{
                animation: moveback 0.8s forwards;
            }
            
            &.shiftup{
                animation: shiftup 0.8s forwards;
            }
            
            &.lastshiftup{
                animation: lastshiftup 0.8s forwards;
            }   
        }
    }

    @media only screen and (min-width:1025px) {
        .directions{
            display: flex;
            width: 24px;
            height: 100px;
            flex-direction: column;
            justify-content: space-between;
            gap:10px;
            position: absolute;
            top: 60px;
            right: -120px;
    
            >div{
                width: 24px;
                height: 32px;
                opacity: 0.4;
                transition: width 0.1s ease-out;
                cursor: pointer;
    
                object{
                    width: 100%;
                    height: 100%;
                    pointer-events: none
                };
    
                &:hover{
                    width: 34px;
                    height: 42px;
                    opacity: 1;
                }
            }
            .next{
                transform: rotate(180deg);
            }
        }   
    }

    @media only screen and (max-width:1024px){
        height: 100%;
        width: 100%;

        .projects-list{
            display: flex;
            flex-wrap: wrap;
        }

        .project-card{
            min-width: 230px;
            flex:1;
            position: relative;
        }
    }
   }

   nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo{
        width: 142px;
        height: 23px;
        
        img{
            height: 100%;
        }
    }
   }
}


@keyframes lastshiftup{

    0%{
        opacity: 1;
        top:-40px;
        left: 40px;
    }

    25%{
        top:-35px;
        left: 35x;
    }

    50%{
        top:-25px;
        left: 25x;
    }

    100%{
        top:-20px;
        left: 20px;
    }
}


@keyframes shiftup{
    0%{
        opacity: 1;
        top:-20px;
        left: 20px;
    }

    25%{
        top:-15px;
        left: 15px;
    }

    50%{
        top:-10px;
        left: 10px;
    }

    100%{
        top: 0px;
        left: 0px;
    }
}

@keyframes moveback{
    0%{
        left: 0;
    }

    25%{
        top:0px;
        left: -40px;
    }

    50%{
        left: -40px;
        top: -40px;
    }

    100%{
        top:-40px;
        left: 40px;
    } 
}