nav {
  height: 50px;
  width: 100%;
}
nav .nav-icons {
  height: 100%;
}
nav .nav-icons > div {
  cursor: pointer;
}
nav .nav-icons object {
  pointer-events: none;
}
nav .nav-icons .close-icon {
  display: none;
  width: 23px;
}
nav .nav-icons .hamburger-icon {
  display: block;
  width: 31px;
}
nav ul {
  color: #FFFFFF;
  width: fit-content;
  font-size: 13px;
  position: relative;
}
nav ul li {
  width: fit-content;
  padding: 0px 31px;
  cursor: pointer;
}
nav ul li.selected {
  position: relative;
}
nav ul li.selected:after {
  content: "";
  position: absolute;
  background: #3EC6AC;
  height: 2px;
  left: 0;
  width: 100%;
  bottom: -18px;
  z-index: 1;
  animation: fill 0.5s forwards;
}
nav ul:after {
  content: "";
  position: absolute;
  background: #323237;
  height: 2px;
  width: 100%;
  bottom: 0;
}
@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.v-center {
  align-items: center;
}

.h-center {
  justify-content: center;
}

.v-h-center {
  flex-wrap: wrap;
  place-content: center;
}

.main-blue-text {
  color: #3EC6AC;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.v-h-center-position {
  margin: auto;
  inset: 0;
}

.h-center-position {
  left: 0;
  right: 0;
  margin: 0px auto;
}

.v-center-position {
  bottom: 0;
  top: 0;
  margin: auto 0px;
}

.full-height {
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 500;
}

button {
  border: solid 1px #FFFFFF;
  width: 146px;
  height: 46px;
  cursor: pointer;
}
button .black, button .blue {
  transition: background 0.2s ease-out;
}
button:hover.split-colour > * {
  top: 0;
  font-size: 20px;
}
button:hover.split-colour .black {
  background: #3EC6AC;
  width: 50%;
  right: 0;
  color: #0E0E14;
}
button:hover.split-colour .blue {
  background: #0E0E14;
  width: 50%;
  left: 0;
  color: #3EC6AC;
}
button.split-colour > * {
  top: 0;
  font-size: 20px;
}
button.split-colour .black {
  background: #0E0E14;
  width: 50%;
  right: 0;
  color: #FFFFFF;
}
button.split-colour .blue {
  background: #3EC6AC;
  width: 50%;
  left: 0;
  color: #0E0E14;
}

.logo {
  gap: 52px;
  width: 50%;
}
.logo > div {
  gap: 11px;
}

.text-decor {
  width: 25%;
}
.text-decor .developer, .text-decor .frontend {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 5px;
}
.text-decor .developer {
  color: #FFFFFF;
  top: 48px;
  left: 15px;
  transform-origin: left;
}
.text-decor .developer {
  transform: rotate(90deg);
}
.text-decor .frontend {
  color: #0E0E14;
  bottom: 48px;
  right: 15px;
  transform-origin: right;
}
.text-decor .frontend {
  transform: rotate(90deg);
}
.text-decor .black-circuit {
  top: 0;
}
.text-decor .blue-circuit {
  bottom: 0;
}

.mobile-circuit {
  height: 287px;
  width: calc(100% + 30px);
  position: relative;
  left: -15px;
}
.mobile-circuit object {
  position: absolute;
  bottom: 0;
}

body.projects-page [data-mobile-nav=false] .mobile-circuit {
  display: none;
}
body.projects-page::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(14, 14, 20, 0.9), rgba(14, 14, 20, 0.9)), url("https://images.unsplash.com/photo-1612338526108-69e35af8980d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80");
  left: 0;
  z-index: -10;
}
body.projects-page .directions {
  display: none;
}
body.projects-page main {
  height: calc(100% - 50px);
}
body.projects-page .projects-container {
  height: 263px;
  width: 313.24px;
  position: relative;
}
body.projects-page .projects-container .projects-list {
  gap: 10px;
  width: 100%;
}
body.projects-page .projects-container .project-card {
  cursor: pointer;
  top: 0;
  height: 310px;
  width: 330.24px;
  background: #134D5D;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
}
body.projects-page .projects-container .project-card .card-circuit {
  position: absolute;
  height: 81.8px;
  width: 91.14px;
}
body.projects-page .projects-container .project-card .card-circuit object {
  height: 100%;
  width: 100%;
}
body.projects-page .projects-container .project-card .card-circuit.top-right {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}
body.projects-page .projects-container .project-card .card-circuit.bottom-left {
  bottom: 0;
  right: 0;
}
body.projects-page .projects-container .project-card .card-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body.projects-page .projects-container .project-card .card-name > div {
  background: #3EC6AC;
  padding: 5px 30px;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  border-radius: 50px;
  font-size: 16px;
}
@media only screen and (min-width: 1025px) {
  body.projects-page .projects-container .project-card:first-child {
    z-index: 1;
  }
  body.projects-page .projects-container .project-card:nth-last-child(2) {
    top: -20px;
    left: 20px;
    opacity: 0.8;
    z-index: -1;
  }
  body.projects-page .projects-container .project-card:nth-last-child(1) {
    top: -40px;
    left: 40px;
    opacity: 0.6;
    z-index: -2;
  }
  body.projects-page .projects-container .project-card:not(:first-child) {
    border: none;
  }
  body.projects-page .projects-container .project-card:not(:first-child) object {
    display: none;
  }
  body.projects-page .projects-container .project-card.moveback {
    animation: moveback 0.8s forwards;
  }
  body.projects-page .projects-container .project-card.shiftup {
    animation: shiftup 0.8s forwards;
  }
  body.projects-page .projects-container .project-card.lastshiftup {
    animation: lastshiftup 0.8s forwards;
  }
  body.projects-page .projects-container .project-card.moveback.reverse, body.projects-page .projects-container .project-card.shiftup.reverse, body.projects-page .projects-container .project-card.lastshiftup.reverse {
    animation-direction: reverse !important;
  }
}
@media only screen and (min-width: 1025px) {
  body.projects-page .projects-container .directions {
    display: flex;
    width: 24px;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: -120px;
  }
  body.projects-page .projects-container .directions > div {
    width: 24px;
    height: 32px;
    opacity: 0.4;
    transition: width 0.1s ease-out;
    cursor: pointer;
  }
  body.projects-page .projects-container .directions > div object {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  body.projects-page .projects-container .directions > div:hover {
    width: 34px;
    height: 42px;
    opacity: 1;
  }
  body.projects-page .projects-container .directions .next {
    transform: rotate(180deg);
  }
}
@media only screen and (max-width: 1024px) {
  body.projects-page .projects-container {
    height: 100%;
    width: 100%;
  }
  body.projects-page .projects-container .projects-list {
    display: flex;
    flex-wrap: wrap;
  }
  body.projects-page .projects-container .project-card {
    min-width: 230px;
    flex: 1;
    position: relative;
  }
}
body.projects-page nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body.projects-page nav .nav-logo {
  width: 142px;
  height: 23px;
}
body.projects-page nav .nav-logo img {
  height: 100%;
}

@keyframes lastshiftup {
  0% {
    top: -40px;
    left: 40px;
  }
  25% {
    top: -35px;
    left: 35x;
  }
  50% {
    top: -25px;
    left: 25x;
  }
  100% {
    top: -20px;
    left: 20px;
  }
}
@keyframes shiftup {
  0% {
    top: -20px;
    left: 20px;
  }
  25% {
    top: -15px;
    left: 15px;
  }
  50% {
    top: -10px;
    left: 10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes moveback {
  0% {
    left: 0;
  }
  25% {
    top: 0px;
    left: -40px;
  }
  50% {
    left: -40px;
    top: -40px;
  }
  100% {
    top: -40px;
    left: 40px;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #0E0E14;
  position: relative;
  padding: 0px 15px;
  height: 100vh;
  min-height: 640px;
  overflow-y: scroll;
}
body .container {
  height: 100%;
  max-width: 1024px;
  margin: auto;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media only screen and (min-width: 1025px) {
  body.home-page:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #3EC6AC;
    width: 50%;
    z-index: -1;
  }
}
body main {
  height: calc(100% - 90px);
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: 1025px) {
  .mobile-image, .nav-icons {
    display: none;
  }
  p, .desktop-image {
    position: relative;
    left: -14px;
  }
}
@media only screen and (max-width: 1024px) {
  .desktop-image, .text-decor, nav ul {
    display: none !important;
  }
  body::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("images/role-tile-mobile-circuit.svg");
    background-size: cover;
    z-index: -1;
  }
  [data-mobile-nav=true] .nav-icons .close-icon {
    display: block;
    z-index: 1;
  }
  [data-mobile-nav=true] .nav-icons .hamburger-icon {
    display: none;
  }
  [data-mobile-nav=true] ul {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex !important;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background: #0E0E14;
    background-image: url("images/logo-tile-mobile-circuit.svg");
    left: 0;
    z-index: 1;
    gap: 39px;
    place-content: center;
    font-size: 18px;
  }
  [data-mobile-nav=true] ul li:after {
    display: none;
  }
  [data-mobile-nav=true] ul li.selected {
    color: #3EC6AC;
  }
  [data-mobile-nav=true] ul:before {
    content: "";
    height: 150px;
    width: 100%;
  }
  [data-mobile-nav=true] .mobile-circuit {
    z-index: 1;
  }
}
@media only screen and (min-width: 475px) {
  .mobile-circuit {
    display: none;
  }
}
@media only screen and (max-width: 474px) {
  body main {
    height: calc(100% - 700px);
  }
}

/*# sourceMappingURL=style.css.map */
